{% extends 'events/base.html' %}

{% block content %}
    <html>
        <body>
            <h1>Venue</h1>
            <br>
            <table class="table table-striped table-bordered table-hover">
                {% for venue in venue_list %}
                <tr>
                    <td>
                        <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a><br>  
                    </td>
                    <td align="right">
                        <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a> 
                    </td>
                </tr>
                {% endfor %}
            </table>
        </body>
    </html>
{% endblock %}

