<html>
    <body>
        <center>
        <h1>Social Club Website</h1>
        <br>
        <h2>Hello {{fname}}! Events for {{month}} {{year}}</h2>
        <!-- <br>
        <br>
        {{ month_number }} -->
        <br>
        <br>
        
        <!-- initially django spits out the html i.e; the syntax behind the generation of the calendar -->
        {{ cal }}
        <br><br>
        <br><br>
        Current time is: {{current_time}}
        <br><br>
        <!-- |safe is a filter that makes django process html -->
        {{ cal|safe }}
        <br><br>
        <br><br>
        (C)Copyright {{current_year}}
        </center>
    </body>
</html>
